<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058346535548-1qch53s72svoio2p5m5kgi2pebakqnbb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058346535548-1qch53s72svoio2p5m5kgi2pebakqnbb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1058346535548-ivdn54iulnn8jrmpo9b8dcgji5u71e44.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD5dsSDB7eyIjrKrhLRGXOeDp8Ayxknrxk</string>
	<key>GCM_SENDER_ID</key>
	<string>1058346535548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aero.aeroMeet</string>
	<key>PROJECT_ID</key>
	<string>infixedu-61cc5</string>
	<key>STORAGE_BUCKET</key>
	<string>infixedu-61cc5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058346535548:ios:255ce32335dabee782d7f9</string>
	<key>DATABASE_URL</key>
	<string>https://infixedu-61cc5.firebaseio.com</string>
</dict>
</plist>